.center {
   display: flex;
   justify-content: center;
   align-items: center;
}

.title {
   font-size: 10vh;
   color: var(--text-primary);
   font-family: "Inter", sans-serif;
   text-align: center;
   text-transform: uppercase;
   border-radius: 0px 0px 5px 5px;
   margin-top: 30vh;
   margin-bottom: 5vh;
   transition: 0.35s ease;
   text-shadow: 2px 4px 6px rgb(0, 0, 0, 0.2);
}

.title:hover {
   transform: translateY(-5%) scale(1.03);
   font-weight: 800;
}

@media (orientation: portrait) {
   .title {
      position: relative;
      top: -10vw;
      font-size: 10vw;
      color: var(--text-primary);
      font-family: "Inter", sans-serif;
      text-align: center;
      text-transform: uppercase;
      border-radius: 0px 0px 5px 5px;
   }
}


.search-container {
   display: flex;
   width: 100%;
   text-align: center;
   justify-content: center;
   align-items: center;
}

.search-home {
   width: 50vw;
   height: 5vh;
   font-family: "Poppins", sans-serif;
   font-size: 16px;
   box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2);
   background: var(--background-input);
   -webkit-backdrop-filter: var(--backdrop-filter);
   backdrop-filter: var(--backdrop-filter);
}

input {
   padding: 20px;
   width: 550px;
   border-radius: 5px;
   background: var(--background-column);
   text-align: center;
   font-size: 24px;
   border: none;
   outline: none;
   color: var(--text-primary);
   transition: 0.4s;
}

#particles-js {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0vw;
   background-color: var(--bg-c);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: 50% 50%;
   overflow: hidden;
}

.particles-js-canvas-el {
   z-index: 0;
   top: 0;
   left: 0;
   position: absolute;
   width: 100%;
   height: 100%;
   pointer-events: none;
}

#splash {
   color: var(--text-dark);
   margin-bottom: 1em;
   margin-top: -2em;
   padding: 0;
   font-family: "Poppins", sans-serif;
}

/* DONT DOLETEEETETET */



 .btn {
                      font-family: Arial, Helvetica, sans-serif;
                      text-transform: uppercase;
                    }
                    .btn-moving-gradient {
                      height: 55px;
                      width: 200px;
                      font-size: 16px;
                      font-weight: 600;
                      color: rgb(255, 255, 255);
                      cursor: pointer;
                      border: none;
                      background-size: 300% 100%;
                      border-radius: 50px;
                    }
                    .btn-moving-gradient:hover {
                      transition: 0.5s ease-in-out;
                      background-position: 100% 0px;
                    }
                    .btn-moving-gradient--pink {
                      background-image: linear-gradient(90deg, rgb(255, 97, 171), rgb(255, 176, 97), rgb(255, 97, 97), rgb(255, 99, 146));
                      box-shadow: rgb(255, 123, 97) 0px 4px 15px 0px;
                    } 
                    .btn-moving-gradient--green {
                      background-image: linear-gradient(90deg, rgb(130, 237, 155), rgb(130, 230, 237), rgb(130, 237, 191), rgb(128, 237, 153));
                      box-shadow: rgb(130, 230, 237) 0px 4px 15px 0px;
                    }




